// 通用样式
body {
  background-color: #f4f4f4;
  margin: 0;
  padding: 0;

  * {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
  }

  ul, li {
    list-style-type: none;
  }

  a {
    text-decoration: none;
    cursor: pointer;
    color: unset;
    &:hover, &:active, &:visited {
      color: unset;
    }
  }
}

::selection {
  background: #fff;
  color: #409eff;
}

::-webkit-scrollbar{
  width: 7px;
}

::-webkit-scrollbar-thumb{
  border-radius: 3px;
  background-color: #e8e8e8;
  &:hover {
    background-color: #999;
  }
}

::-webkit-scrollbar-track{
  border-radius: 3px;
  background-color: #f4f4f4;
}

// flex布局
.flex{
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  &.flex-column{
    flex-direction: column;
  }
  &.align-start{
    align-items: flex-start;
  }
  &.align-end{
    align-items: flex-end;
  }
  &.justify-start{
    justify-content: flex-start;
  }
  &.justify-end{
    justify-content: flex-end;
  }
  &.justify-between{
    justify-content: space-between;
  }
  &.justify-around{
    justify-content: space-around;
  }
}

// 颜色系列
.color-default {
  color: #ffffff;
}

.color-primary {
  color: #409eff;
}

.color-danger {
  color: #f56c6c;
}

.color-success {
  color: #67c23a;
}

.color-waring {
  color: #e6a23c;
}

.color-info {
  color: #909399;
}

// 其他
.highlight {
  cursor: pointer;
  &:hover {
    color: #409eff;
  }
}

.cursor-pointer {
  cursor: pointer;
}

@for $i from 0 through 100 {
  .mt-#{$i} {
    margin-top: #{$i}px !important;
  }
  .mb-#{$i} {
    margin-bottom: #{$i}px !important;;
  }
  .ml-#{$i} {
    margin-left: #{$i}px !important;;
  }
  .mr-#{$i} {
    margin-right: #{$i}px !important;;
  }
  .pt-#{$i} {
    padding-top: #{$i}px !important;;
  }
  .pb-#{$i} {
    padding-bottom: #{$i}px !important;;
  }
  .pl-#{$i} {
    padding-left: #{$i}px !important;;
  }
  .pr-#{$i} {
    padding-right: #{$i}px !important;;
  }
}

/* 按钮 */
.aw-btn {
  border: 1px solid #d8d8d8;
  min-width: 88px;
  padding: 0 14px;
  height: 36px;
  border-radius: 4px;
  cursor: pointer;
  font-size: 14px;
  color: #666;
  background-color: #fff;
  vertical-align: middle;

  &:not(:disabled):hover {
    color: #409eff;
    border-color: #409eff;
  }

  &:focus {
    outline: none;
  }

  &:disabled {
    background-color: #eeeeee;
    cursor: not-allowed;
  }

  &.btn-success {
    border: 0;
    background-color: #64c037;
    color: white;
    &:not(:disabled):hover {
      color: white;
      background-color: #89d166;
    }
    &:disabled {
      background-color: #b3e19d;
    }
  }

  &.btn-danger {
    border: 0;
    background-color: #f65b5c;
    color: white;
    &:not(:disabled):hover {
      color: white;
      background-color: #fc7878;
    }
  }

  &.btn-primary {
    border: 0;
    background-color: #409eff;
    color: white;
    &:not(:disabled):hover {
      color: white;
      background-color: #66b1ff;
    }
    &:disabled {
      background-color: #a0cfff;
    }
  }

  &.btn-warning {
    border: 0;
    background-color: #ff8c18;
    color: white;
    &:not(:disabled):hover {
      color: white;
    }
  }

  &.btn-primary-reverse {
    color: #409eff;
    border-color: #409eff;
    &:not(:disabled):hover {
      color: white;
      border-color: #409eff;
      background-color: #409eff;
    }
    &:disabled {
      color: #a0cfff;
      border-color: #a0cfff;
      background-color: white;
    }
  }

  &.btn-waiting {
    border: 0;
    background-color: #ccc;
    color: white;
    &:not(:disabled):hover {
      color: white;
      background-color: #dcdcdc;
    }
  }

  &.btn-small {
    min-width: 66px;
    height: 26px;
    font-size: 12px;
    border-radius: 2px;
  }

  &.btn-large {
    min-width: 168px;
    height: 42px;
    font-size: 16px;
    font-weight: bold;
    border-radius: 4px;
  }
}
